*,
*::before,
*::after {
  box-sizing: border-box;
}

.timer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #212121;
  border-radius: 2px;
}

.field {
  margin-bottom: 15px;
  font-family: "Roboto Mono", monospace;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 24px;
}
